@charset "utf-8";

@font-face {
  font-family: "Lobster";
  src: url(/fonts/Lobster/Lobster.eot);
  src: url(/fonts/Lobster/Lobster.ttf) format("truetype"), url(/fonts/Lobster/Lobster.svg#Lobster) format("svg");
  font-weight: 400;
  font-style: normal;
}

/* Begin General Page Styles*/

html {
	height: 100%;
	overflow-y: scroll;
}

body {
	background: url(../images/background.jpg) repeat scroll 0 0 #8a97a1;
	color: #383838;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 19px;
	height: 100%;
	min-width: 1024px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

h1, h2, h3, h4, h5, h6, p, ul {
	margin: 0;
}

/* End General Page Styles */

/* Begin Alert Message Box */

#alert-message {
	background: #f7f7f7;
	border: 1px solid #bab9b9;
	display: none;
	left: 50%;
	min-height: 16px;
	position: absolute;
	padding: 10px 15px 10px 62px;
	text-align: left;
	top: 50%;
	width: 300px;
	z-index: 10;
}

#alert-message-title {
	font-weight: bold;
	margin-bottom: 10px;
}

#alert-message.attention {
	background: #ffdb91 url(../images/attention.png) no-repeat 15px center;
	border: 1px solid #ffc44a;
}

#alert-message.success {
	background: #e2ff7d url(../images/success.png) no-repeat 15px center;
	border: 1px solid #99c600;
}

#alert-message.error {
	background: #f5b5a9 url(../images/error.png) no-repeat 15px center;
	border: 1px solid #eb5339;
}

#alert-message.information {
	background: #b3cfea url(../images/information.png) no-repeat 15px center;
	border: 1px solid #418acc;
}

#alert-message.lightbulb {
	background: #feefcb url(../images/lightbulb.png) no-repeat 15px center;
	border: 1px solid #d3a350;
}

/* End Alert Message Box */

/* Begin Container */

#container {
	margin: 0 auto;
	min-height: 100%;
	width: 1000px;
}

#wrap {
	padding-bottom: 100px;
}

/* End Container */

/* Begin Main Header */

#main-header {
	margin: 0 auto;
	overflow: hidden;
	width: 1000px;
}

#main-nav ul {
	list-style: none;
}

#main-nav ul li {
	float: left;
	margin-right: 30px;
}

#main-nav ul li a {
	color: #ffffff;
	font-size: 30px;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

/* Begin Main Header */

/* Begin Page Content */

#content {
	background: url(../images/content-background.jpg) repeat scroll 0 0 #e5e9f7;
	border: 1px solid #455a71;
	overflow: auto;
	padding: 20px
}

#content h1 {
	color: #ffffff;
	font-family: "Lobster", serif;
	font-size: 30px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

/* End Page Content */

/* Begin Main Footer */

#main-footer {
	clear: both;
	font-size: 12px;
	height: 100px;
	margin-top: -100px;
	position: relative;
}

#main-footer-content {
	margin: 0 auto;
	width: 1000px;
}

#main-footer-nav {
	overflow: hidden;
}

#main-footer-nav ul {
	list-style: none;
}

#main-footer-nav ul li {
	float: left;
	margin-right: 6px;
}

#main-footer-nav ul li a {
	color: #ffffff;
	text-decoration: none;
}

/* End Main Footer */

/* Begin Elevator Pitch */

#pitch {
	margin-bottom: 20px;
}

#pitch h1 {
	color: #383838;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 44px;
	text-align: center;
}

#pitch p {
	font-size: 30px;
	text-align: justify;
}

/* End Elevator Pitch

/* Begin Contact Form */

#contact-form {
	background: #e4e8f4;
	border: 1px solid #b0b6c9;
	border-radius: 4px;
	float: left;
	width: 450px;
}

#contact-form h1 {
	margin: 0 5px;
}

#contact-form p {
	font-size: 20px;
	padding: 0 5px 5px 5px;
	text-align: justify;
}

.contact-form-field {
	border-bottom: 1px solid #b0b6c9;
	border-top: 1px solid #f2f4fa;
	padding: 10px 0;
}

input[type="text"], input[type="email"], input[type="number"], textarea {
	background: #ffffff;
	border: 1px solid #999a9f;
	border-radius: 4px;
	color: #3d3d3d;
	display: block;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	height: 20px;
	letter-spacing: -1px;
	line-height: 16px;
	margin: 0 auto;
	padding: 7px 18px 6px;
	text-shadow: 0 1px 0 #ffffff;
	width: 400px;
}

textarea {
	height: 50px;
}

input[type="submit"] {
	cursor: pointer;
	height: 46px;
	margin-left: 5px;
	width: 198px;
}

/* End Contact Form */

/* Begin Video Intro */

#video {
	float: right;
	width: 480px;
}

/* End Video Intro */
